body {
    background-image: url("./images/background.png") !important;
    background-repeat: no-repeat;
    overflow: visible;
    width: 1240;
    /*height: 1754;*/
    min-height: 1754;
    padding-top: 120px;

}

h1 {
    display: flex;
    justify-content: center;
    font-size: 48px;
}

h2 {
    display: flex;
    justify-content: left;
    padding-left: 120px;
    font-size: 32px;
}



@media print {
    * {
        -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
        color-adjust: exact !important;  /*Firefox*/
    }

        body {
          zoom: 80%;
        }
    
}