body {
    background-image: url("./images/background-enlarged.png") !important;
    background-repeat: no-repeat;
    overflow: visible;
    width: 1240;
    /*height: 1754;*/
    min-height: 1754;
    padding-top: 120px;

}

h1 {
    display: flex;
    justify-content: center;
    font-size: 72px;
    font-weight: 600;
    letter-spacing: 0.2ch;
}

h2 {
    display: flex;
    justify-content: left;
    padding-left: 120px;
    font-size: 32px;
}



@media print {

    @page {
        size: A3;
        -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
        color-adjust: exact !important;  /*Firefox*/
        -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
        -moz-color-adjust: exact !important;  /*Firefox*/        
    }

    * {
        -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
        color-adjust: exact !important;  /*Firefox*/
        zoom: 80%;
    }

    #buttons {
        display: none;
    }
    
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}